# unbuffer
$| = 1;
# like 'perl -l'
$\ = $/;

use strict;
use warnings;

use Carp;

$_REPL->load_plugin($_) foreach qw(
    Colors
    Commands
    Completion
    CompletionDriver::Globals
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    DDC
    FancyPrompt
    LexEnv
    MultiLine::PPI
    Packages
    ReadLineHistory
);

$_REPL->fancy_prompt(sub {
	return '>>> ';
});
$_REPL->fancy_continuation_prompt(sub {
	return '... ';
});

$SIG{__WARN__} = sub {
	warn @_, Carp::longmess;
	return;
};
$SIG{__DIE__} = sub {
	die @_, Carp::longmess;
};

